/* -- Color variables -- */
:root {
  --color-white: #fcfcfc;
  --color-black: #262626;
  --color-blue-lighter: #a8e6cf;
  --color-blue-darker: #75b39c;
  --color-green-lighter: #dcedc1;
  --color-green-darker: #a9ba8e;
  --color-yellow-lighter: #ffd3b6;
  --color-yellow-darker: #cca083;
  --color-orange-lighter: #ffaaa5;
  --color-orange-darker: #cc7772;
  --color-red-lighter: #ff8b94;
  --color-red-darker: #cc5861;

  --shadow: 0 0 8px -4px var(--color-black);

  /* scheme vars */
  --color-text: var(--color-black);
  --color-background: var(--color-white);

  --color-blue: var(--color-blue-lighter);
  --color-blue-helper: var(--color-blue-darker);
  --color-green: var(--color-green-lighter);
  --color-green-helper: var(--color-green-darker);
  --color-yellow: var(--color-yellow-lighter);
  --color-yellow-helper: var(--color-yellow-darker);
  --color-orange: var(--color-orange-lighter);
  --color-orange-helper: var(--color-orange-darker);
  --color-red: var(--color-red-lighter);
  --color-red-helper: var(--color-red-darker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-background: var(--color-black);

    --color-blue: var(--color-blue-darker);
    --color-blue-helper: var(--color-blue-lighter);
    --color-green: var(--color-green-darker);
    --color-green-helper: var(--color-green-lighter);
    --color-yellow: var(--color-yellow-darker);
    --color-yellow-helper: var(--color-yellow-lighter);
    --color-orange: var(--color-orange-darker);
    --color-orange-helper: var(--color-orange-lighter);
    --color-red: var(--color-red-darker);
    --color-red-helper: var(--color-red-lighter);
  }
}
/* -- -- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  font-weight: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  /* defined by scheme */
  background-color: var(--color-background);
}

body,
a,
button,
input,
textarea {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  /* defined by scheme */
  color: var(--color-text);
}
